<h1>Showdata#index</h1>
<p>Find me in app/views/showdata/index.html.erb</p>
<script>

$( document ).ready(function() {
    console.log( "ready!" );
localStorage.setItem("counter", 1);
var myVar=setInterval(function () {getData()}, 500);

});

function getData(){
	if(localStorage.getItem("counter")== 201)
	{
		localStorage.setItem("counter",1);
	}
 counter = localStorage.getItem("counter");
 counter = parseInt(counter)
 url = "/display/"+counter;
     $.get( url, function( data ) {
      var tlen = $('#census tr').length;
       if (tlen>20 ){
		removeFirst();
		append(data);
               $('#census tr:eq(even)').attr('style','color:#b8d1f3');
               $('#census tr:eq(odd)').attr('style','color:#dae5f4');
	}
      else{
   	append(data);
 $('#census tr:eq(even)').attr('style','color:#b8d1f3');
               $('#census tr:eq(odd)').attr('style','color:#dae5f4');
	}

  });
localStorage.setItem("counter",parseInt(counter+1))
  
}
function removeFirst(){
$("#census tr:eq(1)").fadeOut(500,function()
	{	
		$('#census tr:eq(1)').remove();
	});
}

      
function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
    }
  }
}

function append(data)
{ 
     jsondata = "<tr>";
     jsondata += "<td>"+data["id"]+"</td>";
     jsondata += "<td>"+data["label"]+"</td>";
     jsondata += "<td>"+data["concept"]+"</td>";
     jsondata += "</tr>" ;
   $('#census').append(jsondata);
	$("#census tr:last").hide();
	$("#census tr:last").fadeIn(500);
}

</script>
<style>
.h{     
            color:#E66924; 
            text-align:center;
 
          }	


       body{
		background-size: 1014px 788px;
                #background-image: url("http://www.gruenetexas.com/images/home-background.png");
		#background-repeat: repeat;
		background-color: #EADAB9;
	   }
     </style>

<table id="census" border="2">
              <tr>
               <th>Serial No</th>
                  <th>Label</th>
                   <th>Concept</th>                 
             </tr>
   
     </table> 




































